@import './bootstrap/bootstrap';

$colors: (
        #ff4136,
        #0074d9,
        #ffdc00,
        #ff851b,
        #296100
);

.cube {
  width: 10rem;
  height: 10rem;
  .timer {

  }
}

$i: 0;

.carousel-item {
  @each $color in $colors {
    $i: index($colors, $color);
    .c-#{$i} {
      background-color: $color !important;
      @extend .cube;
    }
  }
}

.btn-group {
  @extend .w-100;
  button {
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 0;
  }
  ul {
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
    @include media-breakpoint-up(md) {
      width: 50%;
    }

  }
}
